Eddie/Practical4/Q4Corrected/trainers.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT trainers (trainer+)>
<!ELEMENT trainer (name, qualifications+)>
<!ATTLIST trainer trainerID ID #REQUIRED>
<!ELEMENT name (#PCDATA)>
<!ELEMENT qualifications (title, institution, year)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT institution (#PCDATA)>
<!ELEMENT year (#PCDATA)>
